*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 550px;
    background-color: #b2c0c6;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

form {
    height: 50px;
    width: 150px;
    margin: 10px;
    width: 100%;  
}

#button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
}

.title {
    font-size: 30px;
    color: #0b6993;
    font-family: sans-serif;
    margin: 10px;
}

.synopsis {
    font-size: 20px;
    color: #034765;
    font-family: sans-serif;
    font-style: italic; 
    margin: 10px;
    width: 300px;
}

.poster {
    width: 300px;
    height: 500px;
    background-color: #b2c0c6; 
}